<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
{% load widget_tweaks %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Connect App</title>
    <link rel="shortcut icon" href="{% static "assets/img/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "assets/img/favicon.ico" %}" type="image/x-icon">
	
    <style>
      
    
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static "assets/css/sticky-dark-top-nav-with-dropdown.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/styles.css" %}">
   
    <link rel="stylesheet" href="{% static "assets/css/canvas.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/dark.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/sticky-dark-top-nav-with-dropdown.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/font-icons.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vet360Fonts.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vetProfile.css" %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button">
        <div class="container"><a class="navbar-brand" href= {% url 'home' %}><span><img src="{% static "assets/img/connect_logo.png" %}"></span> </a><button class="dropbtn"  onclick="openMenuDropDown();"><img id = "avatarBtn" title="profile image" class="img-circle img-responsive" src="{{ request.user.ava_user.url }}" ></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                
                	
                	
                	
        	</div>
        	<div class="dropdown">
        	

    <div class="dropdown">
    	
  		<span class="caret"></span></button>
  			<ul class="dropdown-menu" id ="dropMenu">
  			  	<script>var href = "{% url 'logout' %}";</script>
               	<script>var hrefP= "{% url 'vetProfile' %}"</script>	
    			<li><button type="button" class="btn btn-primary" id="logoutBtn"  onclick="window.location = href">Logout</button></li>
			    <li><button type="button" class="btn btn-primary" id="logoutBtn"  onclick="window.location = hrefP">Profile</button></li>
			    
  			</ul>
</div>    	                
        </div>
        
      
    </nav>
    
    <div class="icon-bar">
		  <a href="/"><i class="icon-transfer"></i></a> 
		  <a href="/vault"><i class="icon-file-cabinet"></i></a>
		  <a href="#"><i class="icon-red-cross"></i></a> 
		
	</div>
	
	
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10" id="userName"><h1> {{ request.user.veteran }}</h1></div>
    	</div>
    <div class="row">
  		<!--left col-->
              
<hr>
      

               
          
          
          
          
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            
		<div class="card mt-3 tab-card">
        <div class="card-header tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="one-tab" data-toggle="tab" href="#home" role="tab" aria-controls="One" aria-selected="true">Profile Info</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Two</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">Three</a>
            </li> -->
          </ul>
      
   
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <form id="vetPersonalForm" class="" role="form" enctype="multipart/form-data" method="POST" novalidate>
                  {% csrf_token %}
				
					{{ formPers.non_field_errors }}

					  {% for hidden_field in formPers.hidden_fields %}
					    {{ hidden_field.errors }}
					    {{ hidden_field }}
					  {% endfor %}
					
					
					
					
					{% for field1 in formPers.visible_fields %}
						<div class="form-group">
                          
                          <div class="col-xs-6">
                          	
                   			
							{% if field1 == formPers.vet_branch %}
								{{ field1.errors }}	
								<div class="form-group">
									  <label for="sel1">{{ field1.label }}</label>
									  
									  <select name = "{{ formPers.vet_branch.name }}">
									  {% for choice in formPers.vet_branch.field.choices %}
									  	{% if choice.0 == field1.value %}
									  		<option selected value = "{{ choice.0 }}" >{{ choice.1 }}</option>
									  	{% else %}
									  	
									    <option value = "{{ choice.0 }}" >{{ choice.1 }}</option>
									  	{% endif %}
									  {% endfor %}
									  </select>
								</div>
								
							{% elif field1 == formPers.vet_isPurpleHeart or field1 == formPers.vet_isPost911 or field1 == formPers.vet_isCombat or field1 == formPers.vet_isNotifications or field1 == formPers.vet_isShared or field1 == formPers.vet_isSignedUp %}
							
								{{ field1.errors }}	
								<div class="form-group">
									  <label for="sel1">{{ field1.label }}</label>
									  
									  <select name = "{{ field1.name }}">
									  {% for choice in formPers.vet_isPurpleHeart.field.choices %}
									  	{% if field1.value ==  choice.0 %}
									  		<option selected value = "{{ choice.0 }}" >{{ choice.1 }}</option>
									  	
									  	
								  		{% elif not field1.value == choice.0 %}
								  		<option  value = "{{ choice.0 }}" >{{ choice.1 }}</option>
									  			
									  	{% endif %}
									  {% endfor %}
									  </select>
								</div>
							{% elif field1 == formPers.vet_state %}
								{{ field1.errors }}	
								<div class="form-group">
									  <label for="sel1">{{ field1.label }}</label>
									  
									  <select name = "{{ field1.name }}">
									  {% for choice in formPers.vet_state.field.choices %}
									  	{% if field1.value ==  choice.0 %}
									  		<option selected value = "{{ choice.0 }}" >{{ choice.1 }}</option>
									  	
									  	
								  		{% elif not field1.value  == choice.0 %}
								  		<option  value = "{{ choice.0 }}" >{{ choice.1 }}</option>
									  			
									  	{% endif %}
									  {% endfor %}
									  </select>
								</div>
							
							{% elif field1 == formPers.ava_user %}
							<label> {{ field1.label }} :</label>
								<input type="file" class="text-center center-block file-upload" id="{{ field1.name }}"  name="{{ field1.name }}" value="{{ field1.value }}"
		                        placeholder="{{ field1.value }}">
		                    {% elif field1.value %}
		                    	{{ field1.errors }}	
	                          	<label> {{ field1.label }} :</label>
	                          	
		                    	<input
		                       id="{{ field1.name }}"  name="{{ field1.name }}" value="{{ field1.value }}"
		                        placeholder="{{ field1.value }}" /><hr>
		                     {% else %}
		                    	{{ field1.errors }}	
	                          	<label>{{ field1.label }} :</label>
	                          	
		                    	<input
		                       id="{{ field1.name }}"  name="{{ field1.name }}" value=""
		                        placeholder="{{ field1.help_text }}" /><hr>
                    		{% endif %}    
                         </div>
                      </div>
                    {% endfor %}
                      
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              
              <hr>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
               
             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">
            		
               	
                  <hr>
                  
              </div>
               
              
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
	
   
  	
    <script src="{% static "assets/js/jquery.js" %}"></script>
    <script src="{% static "assets/js/gMap.js" %}"></script>
    <script src="{% static "assets/js/functions.js" %}"></script>
    <script src="{% static "assets/js/plugins.js" %}"></script>
    <script src="{% static "assets/js/scripts.js" %}"></script>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    
</body>

</html>