<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Connect App</title>
    <link rel="shortcut icon" href="{% static "assets/img/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "assets/img/favicon.ico" %}" type="image/x-icon">
	
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
     #map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
    }
    </style>
    
    
    
    
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static "assets/css/sticky-dark-top-nav-with-dropdown.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/styles.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/canvas.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/dark.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/sticky-dark-top-nav-with-dropdown.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/font-icons.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vet360Fonts.css" %}">
</head>
<body>

<nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button">
        <div class="container"><a class="navbar-brand" href= {% url 'home' %}><span><img src="{% static "assets/img/connect_logo.png" %}"></span> </a>
        	<button id ="menu"class="dropbtn"  onclick="openMenuDropDown();"><img id = "avatarBtn" title="profile image" class="img-circle img-responsive" src="{{ request.user.partner.partner_logo.url }}" ></button>
            <div class="collapse navbar-collapse" id="navcol-1">
            </div>
        	<div class="dropdown">
		    	
		  		<span class="caret"></span></button>
		  			<ul class="dropdown-menu" id ="dropMenu">
		  			  	<script>var href = "{% url 'logoutCustom' %}";</script>
		               	
		    			<li><button type="button" class="btn btn-primary" id="logoutBtn"  onclick="window.location = href">Logout</button></li>
					   
		  			</ul>
			</div>    	                
    </div>
    
    </nav>


	<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <form id="partnerInfoForm" class="" role="form" enctype="multipart/form-data" method="POST" novalidate>
                 
                    
                        <legend class="text-xs-center header" style = "text-transform: uppercase;">{{ request.user.username }}</legend>
                        {% csrf_token %}
				
						{{ formPart.non_field_errors }}
	
					  	{% for hidden_field in formPart.hidden_fields %}
					    	{{ hidden_field.errors }}
				   		 	{{ hidden_field }}
					 	{% endfor %}
					
						{% for field1 in formPart.visible_fields %}
                        
	                       

							 {% if field1 == formPart.partner_name %} 
							{{ field1.errors }}	
                          	<label> {{ field1.label }} :</label> 
	                        <div class="form-group">
	                            <div class="col-md-10 offset-md-1">
	                                <input value = "{{ field1.value }}" id="{{ field1.name }}" name="{{ field1.name }}" placeholder = "{{ field1.value }}" rows="7">
	                            </div>
	                        </div>
							{% elif field1 == formPart.partner_mission %} 
								{{ field1.errors }}	
	                          	<label> {{ field1.label }} :</label> 
		                        <div class="form-group">
		                            <div class="col-md-10 offset-md-1">
		                                <textarea value = "{{ field1.value }}" id="{{ field1.name }}" name="{{ field1.name }}" rows="7"> {{ field1.value }} </textarea>
		                            </div>
		                        </div>
							{% elif field1 == formPart.partner_logo  %}
	                        	{{ field1.errors }}	
	                          	<label> {{ field1.label }} :</label> 
	                          	<img  src="{{ request.user.partner.partner_logo.url }}" >
		                        <div class="form-group">
		                            <div class="col-md-10 offset-md-1">
		                               
										<input value="{{ field1.value }}" type="file" class="text-center center-block file-upload" id="{{ field1.name }}"  placeholder = "{{ field1.value }}" name="{{ field1.name }}" >
		                            </div>
		                        </div>
		                        
	                    	{% elif field1 == formPart.partner_web_address  %}
	                        	{{ field1.errors }}	
	                          	<label> {{ field1.label }} :</label> 
	                          	
		                        <div class="form-group">
		                            <div class="col-md-10 offset-md-1">
		                               
										<input value="{{ field1.value }}" id="{{ field1.name }}"  name="{{ field1.name }}"  placeholder = "{{ field1.value }}" >
		                            </div>
		                        </div>
	                       
	                        
						{% endif %}
                      	{% endfor %}
	                        <div class="form-group">
	                            <div class="col-md-12 text-xs-center">
	                                <button id = "btn-PartInfo" name="btn-PartInfo" type="submit" class="btn btn-primary btn-lg">Submit</button>
	                            </div>
	                        </div>
                   
                </form>
            </div>
        </div>
        <div >
            <div>
                <div class="card ">
                   
                    <div class="card-block text-xs-center">
                        
                      
    	<div>  <form id="partnerAddressForm" class="" role="form" enctype="multipart/form-data" method="POST" novalidate>
                 
                    
                        {% csrf_token %}
				
						{{ formPartAddress.non_field_errors }}
	
					  	{% for hidden_field in formPartAddress.hidden_fields %}
					    	{{ hidden_field.errors }}
				   		 	{{ hidden_field }}
					 	{% endfor %}
					
						{% for field2 in formPartAddress.visible_fields %}
                        
	                       
								
							 
							    {% if field2 == formPartAddress.partner_state %}
                                 {{ field2.errors }}    
                                 <div class="form-group">
                                       <label for="sel1">{{ field2.label }}</label>
                                       
                                       <select name = "{{ field2.name }}">
                                       {% for choice in formPartAddress.partner_state.field.choices %}
                                           {% if field2.value ==  choice.0 %}
                                               <option selected value = "{{ choice.0 }}" >{{ choice.1 }}</option>
                                           
                                           
                                           {% elif not field2.value  == choice.0 %}
                                           <option  value = "{{ choice.0 }}" >{{ choice.1 }}</option>
                                                   
                                           {% endif %}
                                       {% endfor %}
                                       </select>
                                 </div>
                                {% endif %}   
							
	                        {% if field2 == formPartAddress.partner_phone %} 
							{{ field2.errors }}	
                          	<label> {{ field2.label }} :</label> 
	                        <div class="form-group">
	                            <div class="col-md-10 offset-md-1">
	                                <input  id="{{ field2.name }}" name="{{ field2.name }}" value="{{ field2.value }}" rows="7"></textarea>
	                            </div>
	                        </div>
	                        {% endif %}
	                        {% if field2 == formPartAddress.partner_zip %} 
							{{ field2.errors }}	
                          	<label> {{ field2.label }} :</label> 
	                        <div class="form-group">
	                            <div class="col-md-10 offset-md-1">
	                                <input  id="{{ field2.name }}" name="{{ field2.name }}" value ="{{ field2.value }}" rows="7">
	                            </div>
	                        </div>
	                        {% endif %}
		                   {% if field2 == formPartAddress.partner_address1 or field2 == formPartAddress.partner_address2 %} 
							{{ field2.errors }}	
                          	<label> {{ field2.label }} :</label> 
	                        <div class="form-group">
	                            <div class="col-md-10 offset-md-1">
	                                <input id="{{ field2.name }}" name="{{ field2.name }}"  type="textbox" value="{{ field2.value }}">
      								
	                            </div>     
	                    	
	                       
	                        
						{% endif %}
                      	{% endfor %}
	                       <button id = "btn-PartAddress" name="btn-PartAddress" type="submit" onclick="partSetPos();"class="btn btn-primary btn-lg">Submit</button>
                     		<button id = "btn-geocode" name="btn-geocode" type="button"  class="btn ">Confrim Address</button>
	                            
                </form></div>
                        <hr />
                        <div id="map" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


	
	
	
	
	<script src="{% static "assets/js/jquery.js" %}"></script>
    <script src="{% static "assets/js/gMapPartner.js" %}"></script>
    <script src="{% static "assets/js/my_ajax.js" %}"></script>  
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjeTK1U2DLlLUdmzMBEpnhRgZi7M4I5dg&callback=initMap">
    </script>
    <script src="{% static "assets/js/functions.js" %}"></script>
    <script src="{% static "assets/js/plugins.js" %}"></script>
    <script src="{% static "assets/js/scripts.js" %}"></script>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
     
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    </body>
</html>