<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Connect App</title>
    <link rel="shortcut icon" href="{% static "assets/img/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{% static "assets/img/favicon.ico" %}" type="image/x-icon">
	
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
     #map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
    }
    </style>
    
    
    
    
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="{% static "assets/css/sticky-dark-top-nav-with-dropdown.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/styles.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/canvas.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/dark.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/responsive.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/sticky-dark-top-nav-with-dropdown.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/font-icons.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/vet360Fonts.css" %}">
</head>
<body>

<nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button">
        <div class="container"><a class="navbar-brand" href= {% url 'home' %}><span><img src="{% static "assets/img/connect_logo.png" %}"></span> </a>
        	<button id ="menu"class="dropbtn"  onclick="openMenuDropDown();"><img id = "avatarBtn" title="profile image" class="img-circle img-responsive" src="{{ request.user.ava_user.url }}" ></button>
            <div class="collapse navbar-collapse" id="navcol-1">
            </div>
        	<div class="dropdown">
		    	
		  		<span class="caret"></span></button>
		  			<ul class="dropdown-menu" id ="dropMenu">
		  			  	<script>var href = "{% url 'logout' %}";</script>
		               	
		    			<li><button type="button" class="btn btn-primary" id="logoutBtn"  onclick="window.location = href">Logout</button></li>
					   
		  			</ul>
			</div>    	                
    </div>
    
    </nav>


	<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <form class="" method="post">
                    <fieldset>
                        <legend class="text-xs-center header" style = "text-transform: uppercase;">{{ request.user.username }}</legend>
                        <div class="form-group">
                            <div class="col-md-10 offset-md-1">
                                <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 offset-md-1">
                                <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 offset-md-1">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 offset-md-1">
                                <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 offset-md-1">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-xs-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="card ">
                    <div class="text-xs-center header">Our Office</div>
                    <div class="card-block text-xs-center">
                        <h4>Address</h4>
                        <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="Geocode">
    </div>
                        <hr />
                        <div id="map" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


	
	
	
	
	<script src="{% static "assets/js/jquery.js" %}"></script>
    <script src="{% static "assets/js/gMapPartner.js" %}"></script>
    <script src="{% static "assets/js/my_ajax.js" %}"></script>  
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjeTK1U2DLlLUdmzMBEpnhRgZi7M4I5dg&callback=initMap">
    </script>
    <script src="{% static "assets/js/functions.js" %}"></script>
    <script src="{% static "assets/js/plugins.js" %}"></script>
    <script src="{% static "assets/js/scripts.js" %}"></script>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
     
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    </body>
</html>